:root {
    --black: #1D1D1B;
    --white: #FFF;
    --white-light: #D9D9D9;
    --green: #00FF1A
}

* {
    font-family: "Halenoir";
    vertical-align: baseline;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 1;
}

*:focus,
*:focus-visible {
    outline: none;
}

@keyframes ticketLoop {
    from {
        transform: translateX(15px);
    }

    to {
        transform: translateX(-100%);
    }
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navOpen header {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}

header .headerContent {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 48px 0;
}

header .headerContent .openMenu {
    border: none;
    background-color: #0000;
    padding: 0;
    cursor: pointer;
}

.navMenu {
    padding: 130px 0 91px 0;
    min-height: calc(100vh - 285px);
    width: 100%;
    display: none;
    background-color: var(--black);
}

.navOpen .navMenu {
    display: block;
}

.navMenu .navAccorderon:not(:last-of-type) {
    margin-bottom: 19px;
}

.navMenu .navAccorderon.hide {
    display: none;
}

.navMenu .navAccorderon.active {
    margin-bottom: 0;
}

.navMenu .navAccorderon .accordeon summary {
    list-style: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
}

.navMenu .navAccorderon .accordeon .infoMadreAbout {
    margin-top: 40px;
}

.navMenu .navAccorderon .accordeon .infoMadreAbout .info {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 47.32px;
    margin: 0;
}

.navMenu .navAccorderon .accordeon .infoArtist .artistList {
    color: var(--white);
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin: 35px 0 0 0;
}

.navMenu .navAccorderon .accordeon .infoArtist .artistList .artistContainer {
    position: relative;
}

.navMenu .navAccorderon .accordeon .infoArtist .artistList .tooltipArtist {
    display: none;
    position: absolute;
    max-width: 246px;
    width: 100%;
    object-fit: contain;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.navMenu .navAccorderon .accordeon .infoArtist .artistList .artistName:hover+.tooltipArtist {
    display: block;
}

.navMenu .navAccorderon .accordeon .infoLocation {
    margin-top: 41px;
}


.navMenu .navAccorderon .accordeon .infoLocation .locationDescription {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 47.32px;
    margin: 0;
}

.navMenu .navAccorderon .accordeon .infoLocation .mapContainer {
    margin-top: 51px;
}

.navMenu .navAccorderon .accordeon .infoLocation .mapContainer .locationsMap {
    display: inline-flex;
    gap: 45px;
    width: 100%;
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    line-height: 33.75px;
}

.navMenu .navAccorderon .accordeon .infoLocation .mapContainer .locationsMap ol {
    margin: 0;
}

.navMenu .navAccorderon .accordeon .infoLocation .mapContainer .locationsMap .map {
    max-width: 621px;
    width: 100%;
    height: auto;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList {
    margin-top: 41px;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket {
    margin-bottom: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketName {
    margin: 0;
    color: var(--white);
    font-weight: 700;
    font-size: 50px;
    line-height: 59.15px;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketType {
    margin: 0;
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 47.32px;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketDescription {
    margin: 0;
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    line-height: 35.49px;
}

.navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .buyTicket {
    display: block;
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;
    color: var(--black);
    font-weight: 700;
    font-size: 40px;
    line-height: 47.32px;
    text-decoration: none;
}

main {
    padding-top: 130px;
}

.navOpen main {
    display: none;
}

.TitleSection h1 {
    margin-top: 411px;
    color: var(--black);
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.BannerConcertSection {
    padding: 264px 0 273px 0;
    background-image: url(../img/banner/bannerConcert.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerConcertSection .InfoBannerConcert {
    text-align: center;
    color: var(--green);
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.InfoSection .InfoAccorderon {
    border: 1px solid var(--black);
    border-right: 0;
    border-left: 0;
}

.InfoSection .InfoAccorderon:first-of-type {
    border-top: 2px solid var(--black);
}

.InfoSection .InfoAccorderon .accordeon summary {
    list-style: none;
    cursor: pointer;
    color: var(--black);
    font-weight: 700;
    font-size: 60px;
    line-height: 67.5px;
}

.InfoSection .InfoAccorderon .accordeon.tickets summary {
    color: var(--green);
    white-space: nowrap;
    overflow: hidden;
}

.InfoSection .InfoAccorderon .accordeon.tickets summary .ticketLoop {
    display: inline-block;
    animation: ticketLoop 20s linear infinite;
}

.InfoSection .InfoAccorderon .accordeon .infoArtist {
    margin: 36px 0 11px 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.InfoSection .InfoAccorderon .accordeon .infoArtist img {
    border: 3px solid var(--black);
    border-radius: 12px;
    height: 127px;
    width: 177px;
    object-fit: cover;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp {
    display: inline-flex;
    gap: 42px;
    margin-top: 34px;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp p {
    font-weight: 700;
    font-size: 50px;
    line-height: 56.25px;
    margin: 0 45px 0 0;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp .itemMenuLineUp {
    display: block;
    border: none;
    background-color: #0000;
    padding: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 56.25px;
    opacity: 0.5;
    cursor: pointer;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp .itemMenuLineUp.active {
    opacity: 1;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist {
    margin: 10px 0 6px 0;
    width: 100%;
    display: none;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist.show {
    display: table;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist th {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist .th-ora {
    width: 96px;
}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist tbody::before {
    content: '';
    display: block;
    height: 18px;

}

.InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist tbody td {
    font-weight: 700;
    font-size: 30px;
    line-height: 33.75px;
}

.InfoSection .InfoAccorderon .accordeon .infoLocation .titleLocation {
    margin: 34px 0 0 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.InfoSection .InfoAccorderon .accordeon .infoLocation .location {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 41.64px;
}

.InfoSection .InfoAccorderon .accordeon .infoLocation .imgLocation {
    margin: 34px 0 11px 0;
    max-width: 658px;
    width: 100%;
    height: auto;
}

.InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets {
    margin: 19px 0 11px 0;
    display: inline-flex;
    gap: 19px;
    flex-wrap: wrap;
}

.InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket {
    max-width: 274px;
    width: 100%;
    border: 4px solid var(--black);
    border-radius: 12px;
}

.InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .nameTicket {
    margin: 0;
    padding: 0 10px;
    font-weight: 700;
    font-size: 55px;
    line-height: 61.88px;
}

.InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .infoTicket {
    margin: 20px 0 0 0;
    padding: 0 10px;
    font-weight: 700;
    font-size: 45px;
    line-height: 36.45px;
}

.InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .buyTicket {
    margin-top: 50px;
    color: var(--white);
    background-color: var(--black);
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 55px;
    line-height: 61.88px;
    text-align: center;
}

footer {
    background-color: var(--black);
    padding: 512px 0 57px 0;
}

footer .footerInfo {
    margin: 0;
    display: block;
    color: var(--white);
    font-weight: 700;
    font-size: 25px;
    line-height: 29.57px;
    text-decoration: none;
}

footer .socialMedia {
    margin-top: 65px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 156px;
}

footer .copyright {
    margin-top: 55px;
}

@media (max-width: 767.98px) {
    .navMenu .navAccorderon .accordeon summary {
        font-size: 45px;
        line-height: 45px;
    }

    .navMenu .navAccorderon .accordeon .infoMadreAbout {
        margin-top: 5px;
    }

    .navMenu .navAccorderon .accordeon .infoMadreAbout .info {
        font-size: 20px;
        line-height: 23.66px;
    }

    .navMenu .navAccorderon .accordeon .infoArtist .artistList {
        font-size: 40px;
        line-height: 40px;
    }

    .navMenu .navAccorderon .accordeon .infoLocation {
        margin-top: 5px;
    }

    .navMenu .navAccorderon .accordeon .infoLocation .locationDescription {
        font-size: 20px;
        line-height: 23.66px;
    }

    .navMenu .navAccorderon .accordeon .infoLocation .mapContainer{
        margin-top: 25px;
    }

    .navMenu .navAccorderon .accordeon .infoLocation .mapContainer .locationsMap{
        font-size: 20px;
        line-height: 23.66px;
        display: block;
        position: relative;
        min-height: 342px;
    }

    .navMenu .navAccorderon .accordeon .infoLocation .mapContainer .locationsMap .map{
        position: absolute;
        top: 0;
        height: 342px;
        object-fit: contain;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList{
        margin-top: 5px;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket{
        margin-bottom: 18px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketName{
        font-size: 30px;
        line-height: 35.49px;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketType{
        font-size: 20px;
        line-height: 23.66px;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .ticketInfo .ticketDescription{
        font-size: 17px;
        line-height: 17.74px;
    }

    .navMenu .navAccorderon .accordeon .infoTickets .ticketsList .cardTicket .buyTicket{
        margin-top: 5px;
        padding: 13px 4px;
        border-radius: 4px;
        font-size: 20px;
        line-height: 23.66px;
    }

    .TitleSection h1 {
        margin-top: 178px;
        font-size: 45px;
        line-height: 45px;
        word-break: break-word;
    }

    .BannerConcertSection .InfoBannerConcert {
        font-size: 45px;
        line-height: 45px;
        word-break: break-word;
        max-width: 250px;
        margin: 0 auto;
    }

    .InfoSection .InfoAccorderon .accordeon summary {
        font-size: 40px;
        line-height: 40px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoArtist {
        margin-top: 26px;
        gap: 11px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoArtist img {
        width: 102px;
        height: 73.19px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp {
        margin-top: 25px;
        gap: 15px;
        width: 100%;
        justify-content: space-between;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp p {
        font-size: 35px;
        line-height: 39.38px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .menuLineUp .itemMenuLineUp {
        font-size: 35px;
        line-height: 39.38px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist th {
        font-size: 35px;
        line-height: 39.38px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist .th-ora {
        width: 78px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLineUp .tableArtist tbody td {
        font-size: 25px;
        line-height: 28.13px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLocation .titleLocation {
        margin-top: 17px;
        font-size: 30px;
        line-height: 33.75px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLocation .location {
        font-size: 25px;
        line-height: 25.58px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoLocation .imgLocation {
        max-width: 100%;
        margin-top: 17px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 100%;
        border: none;
        justify-content: flex-end;
    }

    .InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .nameTicket {
        font-size: 25px;
        line-height: 20.25px;
    }

    .InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .infoTicket {
        font-size: 25px;
        line-height: 20.25px;
        margin: 0;
    }

    .InfoSection .InfoAccorderon .accordeon .infoTickets .lstTickets .cardTicket .buyTicket {
        padding: 2px 8px;
        margin: 0;
        max-width: 103px;
        width: 100%;
        font-size: 30px;
        line-height: 33.75px;
        text-align: left;
        border-radius: 8px;
    }

    footer {
        padding: 40px 0 36px 0;
    }

    footer .footerInfo {
        font-size: 15px;
        line-height: 17.74px;
    }

    footer .socialMedia {
        gap: 77px;
    }
}